<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zkdx.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.zkdx.RegisterHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>com.zkdx.EmployeeLoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <servlet-class>com.zkdx.ManagerLoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditEmployeeServlet</servlet-name>
    <servlet-class>com.zkdx.EditEmployeeHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployeeServlet</servlet-name>
    <url-pattern>/EditEmployeeHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>com.zkdx.ModifyProductHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/ModifyProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuitServlet</servlet-name>
    <servlet-class>com.zkdx.QuitHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitServlet</servlet-name>
    <url-pattern>/Quit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyProductNumberServlet</servlet-name>
    <servlet-class>com.zkdx.ModifyProductNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyProductNumberServlet</servlet-name>
    <url-pattern>/ModifyProductNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewProductServlet</servlet-name>
    <servlet-class>com.zkdx.AddNewProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewProductServlet</servlet-name>
    <url-pattern>/addNewProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserBuyHandler</servlet-name>
    <servlet-class>com.zkdx.UserBuyHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBuyHandler</servlet-name>
    <url-pattern>/UserBuyHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuerySellingStatus</servlet-name>
    <servlet-class>com.zkdx.QuerySellingStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerySellingStatus</servlet-name>
    <url-pattern>/QuerySellingStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserQueryHandler</servlet-name>
    <servlet-class>com.zkdx.UserQueryHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserQueryHandler</servlet-name>
    <url-pattern>/UserQueryHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerServiceQueryUser</servlet-name>
    <servlet-class>com.zkdx.CustomerServiceQueryUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServiceQueryUser</servlet-name>
    <url-pattern>/CustomerServiceQueryUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSONCategory</servlet-name>
    <servlet-class>com.zkdx.JSONCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONCategory</servlet-name>
    <url-pattern>/JSONCategory</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>addProductsFromExcel</servlet-name>
    <servlet-class>com.zkdx.addProductsFromExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProductsFromExcel</servlet-name>
    <url-pattern>/addProductsFromExcel</url-pattern>
  </servlet-mapping>
  
</web-app>